/* 스크롤 설정 */
html, body {
 width: 100%;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}

:root{  --primary-color: #2E383F;
--point-color: #FE7f2d;
--white-color: #faf9f6;
}

.chapter {
  scroll-snap-align: start; 
  scroll-snap-stop: always;
  box-sizing: border-box;
  overflow: hidden; 
  padding: 0 8vw;
}


html {
  overflow-y: scroll;
}


/* home */
#HOME {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
}

header {
  height: 25px;
  padding: .8rem;
  background: white;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 100; 
  top: 0; 
  left: 0;
  right: 0;
}

header.scrolled{
  background-color: rgb(255, 255, 255);
box-shadow:0 6px 20px rgba(12,20,30,0.08);
}

#menulist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;  /* 메뉴 간 간격 */
}

#menulist .logo{
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1rem;
  color: #2E383F; opacity: 20%;
  display: flex;
  left: 20px;
  position: absolute;
}

#menulist li a {
    font-family: "Pretendard";
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--point-color);
}

#menulist li a:hover {
color: #EFEEEA;
transition: .3s;
}

/* 메인 영역 */
main {
  margin-top: 50.6px; /* 헤더 높이만큼 띄우기 */
  min-height: calc(100vh - 50.6px);
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
  align-content: center;
}

/* 중앙 텍스트 */
.main-container{

  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #EFEEEA;
  width: 98%;
  height: 90.5vh;
  border-radius: 30px;
}
.main-content {
  position: absolute;
  font-family: 'Oagothic';
  font-weight: 800;
  font-size: clamp(2.6rem, 12vw, 7rem);
    text-align: left;
    top: 20%;
    color: var(--primary-color);
}

.main-content .dot {
  color: var(--point-color);
}

/* 애니메이션을 위한 초기 상태 설정 */
.word-design,
.word-portfolio {
  opacity: 0;
  display: inline-block; /* transition 적용을 위해 유지 */
}

/* 색상 변경 애니메이션 */
@keyframes background-change {
  from { background-color: #EFEEEA; }
  to { background-color: var(--point-color); }
}

@keyframes dot-color-change {
  from { color: var(--point-color); }
  to { color: #EFEEEA; }
}

.animate-bg {
  animation: background-change 2s forwards;
}

.animate-dot {
  animation: dot-color-change 2s forwards;
}

/* 스크롤 인디케이터 */
.scroll-indicator {
  position: relative;
  bottom: 0px;
  width: 100vw;
  height: 81px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

 .scroll-indicator img{
  position: absolute;
  bottom: 0px;
}

.mouse {
  width: 20px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 12px;
  position: relative;
}

.mouse::after {
  content: '';
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  width: 10px;
  height: 10px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
    transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  margin-top: 8px;
 
}


@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-7px, 7px);
    opacity: 0;
  }
}

/* ABOUTME */

#ABOUTME{
  min-height: 100vh;
  overflow: hidden;
}

.MEmain{
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard';
}

.aboutmecontainer{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  margin-top: 3rem;
}

.aboutme{
  font-weight: 800;
  font-size: clamp(2rem, 10vw, 3rem);
  color: var(--primary-color);
}

.aboutme-wrap{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mecard-container{
  position: relative;
  display: flex;
  align-items: center;
}

.card {
  position: relative;
  width: min(22vw, 300px);
  aspect-ratio: 22 / 31.5;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  background-color: var(--point-color);
  box-sizing: border-box;
  transform-style: preserve-3d;
  transition: transform 1.5s ease-out;
}

.card.scrolled {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
}

/* 앞면 */
.card-front {
  background-color: var(--point-color);
}

/* 뒷면 */
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--primary-color);
  padding: 1.5rem;
  box-sizing: border-box; 
  justify-content: flex-end;
}

/* 뒷면 상단 영역 (이름 + 버튼) */
.back-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-back .aboutname {
  font-weight: 700;
  font-size: 1.5rem;
}

.card-back .infor {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 25px;
  text-align: left;
}


button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  margin: .8vw 0;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

button::after{
  font-family: 'fontawesome';
  content: "\f061";
  font-size: .9rem;
}

button:hover{
  background-color: var(--point-color);
  transition: .3s;
}

.intro-container{
  width: 80;
  margin-left: 1.5vw;
  color: var(--primary-color);
  font-family: 'Pretendard';
}



/* ABOUT ME 슬라이드 요소 */
.slide-text {
  opacity: 0;
  transition: all 1s ease;
  line-height: 27px;
  font-size: 1.1rem;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 1.5rem;
  letter-spacing: -.2px;
  }

.from-top{
  text-align: left;
  transform: translate(0, -50px);
  margin-bottom: 1.5vw;
}

.from-top p{
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.from-top p:last-child{
  margin-bottom: 0;
}

.from-top.show 
{opacity: 1 !important;transform: translate(0, 0) !important;}

.from-bottom{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
  transform: translate(0, 50px);
}
.from-bottom.show 
{opacity: 1 !important;transform: translate(0, 0) !important;}


.from-bottom p{
  margin: 0;
  text-indent: 6rem;
  font-weight: 400;
}

.from-bottom ul{
  text-align: left;
  margin: 0; padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.from-bottom b{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.from-bottom li{
  list-style: none;
}


.SKILL li{
  word-spacing: 15px;
}



/* WORK */
#WORK{
  background-color: rgb(240, 239, 235, .7);
  height: auto;
}

.wmain{
display: flex;
font-family: 'Pretendard';
flex-direction: row;
margin: 4rem 0;
gap: 1rem;
}

.work-wrap{
  width: 50%;
  box-sizing: border-box;
}
.work-info{
  padding: 1rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  font-weight: 800;
  font-size: clamp(2rem, 10vw, 3rem);
  line-height: 60px;
}
.work-info span{
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 50%;
}
.work-content{
  padding: 1rem;
  font-size: 1.2rem;
  word-wrap: break-word;
  letter-spacing: -.2px;
  line-height: 27px;
  opacity: 0;
  transform: translateX(-30px);
}

.work-content.animate-in {
  animation: slideInLeft 0.5s ease-in-out forwards;
}

@keyframes slideInLeft {
  0%{
    transform: translateX(-30px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }  
}


.workcard-wrap{
  width: 50%;
  height: 100vh;
  padding-top: 5rem;
}

.workcard-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  margin: 0; padding: 0;
  list-style: none;
}

ul{
  margin: 0; padding: 0;
}

.workcard {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 1rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.workcard.show {
  opacity: 1;
  transform: translateX(0);
}

.workcard:nth-child(1) { transition-delay: 0s; }
.workcard:nth-child(2) { transition-delay: 0.1s; }
.workcard:nth-child(3) { transition-delay: 0.2s; }
.workcard:nth-child(4) { transition-delay: 0.3s; }
.workcard:nth-child(5) { transition-delay: 0.4s; }
.workcard:nth-child(6) { transition-delay: 0.5s; }

.workcard.active{
  background-color: #fbd687;
}

/* 카드 상단: 원래 있던 줄 */
.workcard-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workcard-content {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.workcard-content h2 {
  font-size: 1.5rem;
  margin-right: .5vw;
  font-weight: 700;
}

h2{
  margin: 0;
}

.workcard-content span {
  font-size: 1.2rem;
  letter-spacing: -.2px;
}

.workcard-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: rgb(240, 239, 235, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.workcard-button::after {
  font-family: 'fontawesome';
  content: "\2b";
  font-size: .9rem;
}
.workcard.active .workcard-button::after {
  content: "\f068";
}

/* ▼▼ 추가 내용 ▼▼ */
.workcard-extra {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 1rem;
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease-out;
}

.extra-text{
  margin-top: 1vw;
}

.workcard-extra .extra-text span{
  flex: 1;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  margin-right: .6vw;
  letter-spacing: -.2px;
}

.workcard-extra .extra-img img{
  width: 100%;
  height: 17vw;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid var(--primary-color);
}

.workcard.active .workcard-extra {
  opacity: 1;
  max-height: 500px;
}






/* PROJECT */

#PROJECT{
  background-color: #233d4d;
  font-family: 'Pretendard';
}

.project-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.project-info-container {
  display: flex;
  align-items: start;
  justify-content: start;
  color: var(--white-color);
  padding: 1rem;
  height: 250px;
}

.project-info{
  font-weight: 800;
  font-size: clamp(2rem, 10vw, 3rem);
  line-height: 60px;
}

.project-info span{
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 50%;
}

.project-list {
  display: flex;
  flex-wrap: wrap; /* 여러 줄로 자동 배치 */
  gap: 2rem;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  margin: 4rem 0;
}

.project-list li {
  flex: 1 1 calc(50% - 1rem); /* 한 줄에 2개씩 */
  box-sizing: border-box;
  min-width: 250px;
}

/* 카드 스타일 */
.projectcard {
  border-top: 2px solid var(--white-color);
  height: 250px;
  overflow: hidden;
  display: flex;
  padding: 1vw;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


.projectcard.show {
  opacity: 1;
  transform: translateY(0);
}


.projectcard-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projectcard-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white-color);
}

.projectcard-text span {
  letter-spacing: -.2px;
  margin-bottom: .7rem;
}

.projectcard-title{
  font-size: 1.5rem;
  font-weight: 500;
}

.projectcard-hash{
  font-size: 1rem;
  font-weight: 300;
  word-spacing: 8px;
  line-height: 25px;
  opacity: 60%;
}

.projectcard-text h3 {
  font-size: 1.7rem;
  margin-bottom: .7rem;
  font-weight: 700;
}


.projectcard-image {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: visible;
}

.projectcard-image .img-inner {
  aspect-ratio: 16/9; 
  padding: 6px;
  border-radius: 10px;
  position: relative; 
}


.projectcard-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.projectcard-image:hover img {
  transform: scale(1.05);
}


.projectcard-image .img-inner::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border: 4px solid #233d4d;  
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2;
  box-shadow: 0 0 0 2px var(--point-color);
  pointer-events: none;
}

.projectcard-image .img-inner:hover::before {
  opacity: 1;
}



/* CONTACT */
#CONTACT{
  height: auto;
  margin: 12rem 0;
  font-family: 'Pretendard';
  display: flex;
  align-items: center;
}

.contact-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  color: var(--primary-color);
  padding: 0 8vw;
  gap: 2vw;
}

.contact-info {
  flex: 1;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.contact-list {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.contact-info.show {
  opacity: 1;
  transform: translateY(0);
}
.contact-list.show {
  opacity: 1;
  transform: translateX(0);
}
.contact-info {
  transition-delay: 0s;
}

.contact-list {
  transition-delay: .5s;
}

.contact-info{
  font-weight: 800;
  font-size: 4rem;
  word-wrap: break-word;
}

.contact-content{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 35px;
  margin-top: 5vw;
}

.word {
  letter-spacing: -0.13em;
}
.word span {
  display: inline-block;
}
.word span:nth-child(8){
  margin-left: .5em;
}
.word.animate span {
  animation: loading 1.2s alternate;
}
.word span:nth-child(2) {animation-delay: .1s;}
.word span:nth-child(3) {animation-delay: .2s;}
.word span:nth-child(4) {animation-delay: .3s;}
.word span:nth-child(5) {animation-delay: .4s;}
.word span:nth-child(6) {animation-delay: .5s;}
.word span:nth-child(7) {animation-delay: .6s;}
.word span:nth-child(8) {animation-delay: .7s;}
.word span:nth-child(9) {animation-delay: .8s;}

@keyframes loading {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.contact-list{
  width: 350px;
  border: 2px solid var(--primary-color);
  padding: 2rem;
  border-radius: 20px;
  background-color: #0066d3;
}

.contact-list li{
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 13px;
  margin-bottom: 15px;
  background-color: var(--white-color);
}

.contact-list :last-child{
  margin: 0;
}

.contact-list li::before{
  font-family: 'fontawesome';
  margin-right: 15px;
}

.name::before{
  content: "\f2bd";
}
.number::before{
  content: "\f095";
}
.mail::before{
  content: "\f0e0";
}
.resume::before{
  content: "\f0c6";
}
.resume::after{
  font-family: 'fontawesome';
  content: "\f105";
  margin-left: 6px;
}
.resume{transition: color 0.3s ease-out;}

.resume:hover {
  color: #FE7743;
}




/* 사람 f2bd
이메일 f0e0
전화 f095
이력서 f0c6 */



/* 상단으로 올리는 버튼 */
.moveTopBtn {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 2rem;
  right: 2rem;
  background: none;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(12,20,30,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

.moveTopBtn::after{
  font-family: 'fontawesome';
  content: "\f077";
  font-size: 1rem;
  color: #595959;
}

